@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
/*font-family: 'Inconsolata', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,400&display=swap');
.App {
  text-align: right;
}
.body-background-color{
  background-color: #F5E9CF;
}

.BanneBox{
  border: 8px solid #4D455D;
  background-color: transparent;
  border-radius:8px ;
  font-family: 'Nunito', sans-serif;
   
}

.spacingletters{
 letter-spacing: 0.3em;
}


/*button*/
.button-properties {
  background-color: #4D455D !important;
  color: #E96479 !important;
  border: none !important;
}

.button-properties:hover {
  background-color: #E96479 !important;
  color: #4D455D !important;
  border: none !important;
}

/*color for text */
.color-blue{
  color: #7DB9B6 !important;;  
}
.color-pink{
  color: #F5E9CF !important;;  
}
.color-red{
  color: #E96479 !important;;  
}
.color-gray{
  color: #4D455D !important;;  
}
/*backgroud color*/
.bg-color-blue{
  background-color: #7DB9B6 !important;;  
}
.bg-color-pink{
  background-color: #F5E9CF !important;;  
}
.bg-color-gray{
  background-color: #4D455D !important;;  
}
.bg-color-red{
  background-color: #E96479 !important;;  
}


 .my-form-control { width: 50% !important;  } 


@media (max-width: 576px) {
 
.my-form-control { width: 100% !important;  } 
}

/*medium*/
@media (max-width: 768px) {
 
.my-form-control { width: 100% !important;  } 
    
}
/*large*/
@media (max-width: 972px) {

}


.product-card-name{
 font-weight: bold;
 font-size: 1rem;
 font-family: 'Nunito', sans-serif; 
}

.product-card-body{
   font-size: 1rem;
 font-family: 'Nunito', sans-serif; 
}

.col-border-top{
  border-radius: 10px 10px 0 0 ;
 
}

.col-border-bottom{
  border-radius: 0 0 10px 10px ;
 
}

/*green color*/
.active-color{ color: #42bf6e; }

/*red color*/
.notActive-color{ color: #ee3f5e; }

/*background color*/
.bg-dark-blue{ background-color: #16354D !important; }
.bg-blue{ background-color: #6B99C3 !important; }
.bg-dark-gray{ background-color: #D2D2D4 !important; }
.bg-light-gray{ background-color: #E4E5EA !important; }
.bg-black{ background-color: #0C151C !important; }
.bg-transparent{background-color: transparent !important;}

/*color*/
.color-dark-blue{ color: #16354D !important; }
.color-blue{ color: #261923 !important; }
.color-dark-gray{ color: #6B99C3 !important; }
.color-light-gray{ color: #E4E5EA !important; }
.color-black{ color: #0C151C !important; }